@import url("https://fonts.googleapis.com/css2?family=Arya:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s ease;
}
.arya {
  font-family: "Arya", sans-serif;
}
.grid1 {
  display: grid;
  grid-template-columns: 0.1fr 5fr 0.1fr;
}
